
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"> <!-- bean definitions here -->

        <bean id="dev" class="org.example.Dev">
            <!--   <property name="age" value="14" />      -->

            <!--    <constructor-arg name="age" value="22" />    -->

                <property name="laptop" ref="lap1" />

        </bean>

        <bean id="dev1" class="org.example.Dev">

        </bean>

        <bean id="lap1" class="org.example.Laptop">

        </bean>

</beans>